node_modules
*.log
.idea
*.local
*.cpuprofile
.vscode/
.yarnrc.yml
.pnp.js
yarn.lock
.yarn
/packages/**/LICENSE
/packages/utils/lib/*
/packages/terminal-spinner/index.js
/packages/terminal-spinner/index.d.ts
/packages/monorepo-cli/index.d.ts
/**/*.js
.pnp.cjs
.pnp.loader.mjs
tsconfig.tsbuildinfo
