@import '../lib/Button/button_fns.less';

.icon-group {
  color: #666;
}

.create_btn(custome-btn, #626aef);

.custome-btn1 {
  .create_btn_rule(#626aef);
  border-radius: 0;
}

.create_btn_fill(custome-btn2, #626aef);

.custome-btn3 {
  .create_btn_fill_rule(#626aef);
  border-radius: 0;
}
.ph-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ph-badge {
  width: 30px;
  height: 30px;
  background-color: #999;
}
.avatar-area {
  display: inline-flex;
  align-items: center;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.dialog-component {
  border: none;
  padding: 0;
  border-radius: 5px;
  transform: scale(0);
  transition: transform 0.25s ease-in-out;
}
.dialog-component::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.dialog-component-show {
  transform: scale(1);
}
.dialog-component-show::backdrop {
  opacity: 1;
}
.dialog-main {
  width: 300px;
  position: relative;
}
.dialog-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px solid #dedede;
}
.dialog-title {
  font-weight: bold;
}
.dialog-close-btn {
  font-size: 14px;
  position: absolute;
  display: inline-block;
  right: 5px;
  width: auto;
  height: auto;
  top: 6px;
  padding: 5px;
  border: none;
}
.dialog-container {
  padding: 15px 20px;
  font-size: 14px;
}
.dialog-footer {
  padding: 10px;
  text-align: right;
  border-top: 1px solid #dedede;
}
.dialog-body-lock {
  overflow: hidden;
}

.dialog-form {
  width: 100%;
  margin-top: 10px;
}
.dialog-form-row {
  height: 50px;
}
.dialog-form-label {
  line-height: 30px;
  margin-right: 10px;
}
.dialog-form-input {
  width: calc(100% - 60px);
}
